

.first-name {
    color: #6FA8DC;
}

.last-name {
    color: #073763;
}

.job-title {
    color: #073763;
}

.left-column {
    padding-right: 5px;
}

.right-column {
    background-color: #CFE2F3;
    padding: 5px;
}

.description-title {
    font-size: 14px;
}

.description-detail {
    font-size: 12px
}

.download{
    font-size: 22px;  
}

.download-en{
    color: #BFBFBF;
}

.download-kr{
    color: #073763;
}