@import "./ant-layout.css";
@import "./ant-card.css";

.ant-divider-horizontal {
    margin: 0px;
}

h5.ant-typography {
    margin: 0px;
}

h4.ant-typography {
    margin: 0px;
}

h3.ant-typography {
    margin: 0px;
}

h2.ant-typography {
    margin: 0px;
}

h1.ant-typography {
    margin: 0px;
}

.ant-typography+h4.ant-typography {
    margin: 0px;
}

.ant-divider {
    border-top: 2px solid rgba(0, 0, 0, 0.06);
}
.ant-switch{
    margin-bottom: 6px;
}
.ant-switch-checked {
    background: #073763;

}

.ant-page-header {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
}

.ant-alert {
    margin-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.ant-alert-info{
    background-color: #CFE2F350;
    border: none;
    
}

.ant-timeline-item {
    padding-bottom: 0px;
}

.ant-timeline-item-content {
    top:0;
}

.ant-timeline-item-head {
    top: 7.001px;
}

.ant-timeline-item-tail {
    
    height: calc(100% - 3px);
}