.ant-layout{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: gray;
    
}

.ant-layout-content{
    z-index: 2;
    display: flex;
    @media screen and (min-width: 825px){
        width: 825px;
    }
}