body {
  margin: 0px;
}

.first-name {
  color: #6fa8dc;
}

.last-name {
  color: #073763;
}
.occupation {
  font-size: 24px;
}

.job-title {
  color: #073763;
}

.description-title {
  font-size: 14px;
}

.description-detail {
  font-size: 12px;
}

.download {
  font-size: 22px;
}

.download-en {
  color: #bfbfbf;
}

.download-kr {
  color: #073763;
}
