.mdi-icon.mdi-map-marker-outline.reverse {
  color: rgba(0, 0, 0, 0.88);
  line-height: 1.5714285714285714;
  margin-right: 6px;
  font-size: 14px;
  box-sizing: border-box;
  padding-right: 1.5px;
  padding-left: 1.5px;
  width: 12.5px;
  height: 12.5px;
  display: inline-block;
  background: url(https://2fd.github.io/ant-design-icons/11870201be.69c122b3.svg) -31px
    260px;
  opacity: 0.88;
  background-size: 2321%;
  filter: brightness(0) saturate(100%);
}
