@import '~antd/dist/antd.css';
@import 'style/ant-override.css';
@import 'style/resume.css';
.App {
  text-align: center;
  background-color: #525659 ;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  min-width: 750px;
  zoom: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-device-width:350px), screen and (max-width:350px) {
  .App {
    background-color: white;
    zoom: 0.4;
  }
}

@media screen and (max-device-width:450px), screen and (max-width:450px) {
  .App {
    background-color: white;
    zoom: 0.5;
  }
}

@media screen and (max-device-width:550px), screen and (max-width:550px) {
  .App {
    background-color: white;
    zoom: 0.6;
  }
}

@media screen and (max-device-width:650px), screen and (max-width:650px) {
  .App {
    background-color: white;
    zoom: 0.7;
  }
}

@media screen and (max-device-width:750px), screen and (max-width:750px) {
  .App {
    background-color: white;
    zoom: 0.8;
  }
}







